a {
  color: green;
}

a:hover {
  color: darkgreen;
}

.App {
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* Database Operations */
.btn.btn-primary {
  background-color: darkgreen;
  border: none;
  font-weight: bold;
}

.btn-link {
  color: green;
}

.btn-link:hover {
  color: darkgreen;
}

.form-check-input:checked {
  background-color: darkgreen;
  border-color: darkgreen;
}

.form-group {
  margin-top: 40px;
}

.json-list {
  color: chocolate;
  width: 60%;
}

/* Navbars */
.collapse {
  justify-content: end;
}

.home-link {
  width: '100%';
  color: white;
  font-size: 2rem;
  text-align: left;
}

.navbar {
  padding: 20px;
  width: '100%';
  font-weight: bold;
}

.navbar-dark .navbar-nav .json-nav-link.nav-link:hover {
  color: orange;
}

.navbar-dark .navbar-nav .promises-nav-link.nav-link:hover {
  color: orchid;
}

.navbar-dark .navbar-nav .db-nav-link.nav-link:hover {
  color: forestgreen;
}

.navbar-light .navbar-nav .db-nav-link.nav-link:hover {
  color: forestgreen;
}

.sub-navbar {
  padding: 20px;
  width: '100%';
}

/* Promises */
.error-message {
  color: red;
  font-style: italic;
  margin: 5px;
}

.memes-button {
  background-color:darkorchid;
  opacity: .9;
  color: white;
  font-size: medium;
  font-weight: bold;
  height: 40px;
  width: 150px;
  border: none;
  margin-left: 20px;
}

.memes-container {
  text-align: center;
  margin-top: 20px;
}

.meme-image {
  height: 150px;
  width: 150px;
  margin: 5px;
}
